.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 0;
}

.heading{
    font-weight: bold;
    font-size: 2.1rem;
}

.toolbar{
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.colors{
    display: flex;
    gap: 20px;
    padding: 30px;
}

.colors .color {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    padding: 0px;
    position: relative;
}

.colors > input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0px;
}

.colors > input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0px;
}

.colors > input[type=color]::after {
    content: "+";
    position: absolute;
    top: -13%;
    left: 19%;
    font-size: 2.5rem;
}

.colors .active{
    box-shadow: 0 0 12px 1px rgb(0, 0, 0);
}
.toolbar button{
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #239ce2;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}
.toolbar button svg {
    height: 20px;
    width: 20px;
}

.main {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-direction: column;
}
